<p>CHAT</p>

<button class="btn btn-primary" >(Icono Agregar Contacto a la derecha)</button>
<br><br>


<div class="container">
    <table class="table table-sm table-dark table-hover">
        <tr>
            <td>Contacto1</td>
        </tr>
        <tr>
            <td>Contacto2</td>
        </tr>
        <tr>
            <td>Contacto3</td>
        </tr>
        <tr>
            <td>Contacto4</td>
        </tr>
        <tr>
            <td>Contacto5</td>
        </tr>
    </table>
</div>




