<p>CHAT</p>

<div align="right">
    <button class="btn btn-primary" ><span class="fas fa-user-plus"></span></button>
</div>
<br><br>


<div class="container">
    <table class="table table-sm table-dark table-hover">
        <tr>
            <td>Imagen</td>
            <td>Contacto1:</td>
            <td>hola amigo!</td>
        </tr>
        <tr>
            <td>Imagen</td>
            <td>Contacto2:</td>
            <td>hola amigo!</td>
        </tr>
        <tr>
            <td>Imagen</td>
            <td>Contacto3:</td>
            <td>hola amigo!</td>
        </tr>
        <tr>
            <td>Imagen</td>
            <td>Contacto4:</td>
            <td>hola amigo!</td>
        </tr>
        <tr>
            <td>Imagen</td>
            <td>Contacto5:</td>
            <td>hola amigo!</td>
        </tr>
    </table>
</div>




