<p>juegos works!</p>
 
    <section class="container" style="overflow-y: scroll; height: 680px; width: auto;">
        <table class="table table-sm "  >
            <tr>
                <td><a routerLink="/home/piedra-papel-tijera"><img src="../../../assets/imagenes/Juegos/Piedra-papel-o-tijera.jpg" alt="" width="80%"></a></td>
            </tr>
                
            <tr>
                <td><a routerLink="/home/ta-te-ti" ><img src="../../../assets/imagenes/Juegos/ta-te-ti.jpg" alt="" width="80%"></a></td>
                
            </tr>
            <tr>
                <td><img src="../../../assets/imagenes/Juegos/league of legends.jpg" alt="" width="80%"></td>
            </tr>
            <tr>
                <td><img src="../../../assets/imagenes/Juegos/Pac-man.jpg " width="80%"></td>
            </tr>
            
        </table>
    </section>

    

    
