
    <section class="container" style="overflow-y: scroll; height: 800px; width: auto;">
        <table class="table table-sm "  >
            <tr>
                <td class="text-center"><a routerLink="/home/piedra-papel-tijera"><img src="../../../assets/imagenes/Juegos/Piedra-papel-o-tijera.jpg"  width="80%"></a></td>
            </tr>
                
            <tr>
                <td class="text-center"><a routerLink="/home/ta-te-ti" ><img src="../../../assets/imagenes/Juegos/ta-te-ti.jpg"  width="80%"></a></td>
                
            </tr>
            <tr>
                <td class="text-center"><a routerLink="/home/memoTest"><img src="../../../assets/imagenes/Memotest/icon.png"  width="80%"></a></td>
            </tr>
            <tr>
                <td class="text-center"><img src="../../../assets/imagenes/Juegos/Pac-man.jpg " width="80%"></td>
            </tr>
            
        </table>
    </section>


