<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog " role="document">
		<div class="modal-content bg-secondary">
			<div class="modal-header">
				<h1 class="modal-title text-white" id="exampleModalLabel">CHAT</h1>
				<button type="button" class="btn btn-outline-danger" data-dismiss="modal">X</button>
			</div>

			<div class="modal-body">

				<div class="chat w-100">
					<div class="card" >
						<div class="card-body msg_card_body" id="chatMensajes" >

							<div *ngFor="let item of this.item$ | async" >
								<section id="mensajesUsuarios">
									<div *ngIf="this.usuarioLogin==item.correo else mensajesDeOtros">
										<section class="d-flex justify-content-end mb-4">
											<div class="msg_cotainer_send">
												{{item.mensaje}}
												<span class="msg_time_send">{{item.horaYMin}}</span>
											</div>

											<div class="img_cont_msg">
												<img src="../../../../assets/imagenes/personas/descargar (3).jpg"
													class="rounded-circle user_img_msg">
											</div>
										</section>
									</div>
								</section>

								<ng-template #mensajesDeOtros>
									<section class="d-flex justify-content-start mb-4">
										<div class="img_cont_msg">
											<img src="../../../../assets/imagenes/personas/descargar (2).jpg"
												class="rounded-circle user_img_msg">
										</div>
										<div class="msg_cotainer">
											{{item.mensaje}}
											<span class="msg_time">{{item.horaYMin}}</span>
										</div>
									</section>
								</ng-template>
							</div>

						</div>
							<form action="">
								<section class="card-footer">
									<div class="input-group">

										<!--boton para archivos-->
										<!--div class="input-group-append">
											<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
										</div-->
										

										<input type="text" class="form-control type_msg" id="textMensaje"
											placeholder="Escribe tu mensaje">

										<div class="input-group-append">
											<button (click)="Enviar()" class="input-group-text send_btn"><i
													class="fas fa-location-arrow"></i>
											</button>
										</div>

									</div>
								</section>
							</form>

					</div>
				</div>






			</div>
		</div>
	</div>
</div>