<p>juegos works!</p>
 

    
    
    <section class="container" style="overflow-y: scroll; height: 680px; ">
        <table class="table table-sm "  >
            <tr>
                <td><a routerLink="/piedra-papel-tijera"><img src="../../../assets/imagenes/Juegos/Piedra-papel-o-tijera.jpg" alt="" height="25%"></a></td>
            </tr>
                
            <tr>
                <td><img src="../../../assets/imagenes/Juegos/Fornite.jpg" alt="" width="305px"></td>
                
            </tr>
            <tr>
                <td><img src="../../../assets/imagenes/Juegos/league of legends.jpg" alt="" width="305px"></td>
            </tr>
            <tr>
                <td><img src="../../../assets/imagenes/Juegos/Pac-man.jpg " width="305px"></td>
            </tr>
            
        </table>
    </section>

    



