
<div class="container-fluid" >
    <img src="../../../assets/imagenes/Paisajes/descargar (2).jpg" alt="" width="370px" height="100px">
</div>
<br>

<div class="container">
    <img src="../../../assets/imagenes/personas/descargar (2).jpg" width="120px"  class="rounded-circle mx-auto d-block" >
    <br><br>
    <label for="" class="ml-5 pl-5">El_Fedelobo</label>
    <button class="btn btn-primary"> Editar</button>
</div>



<br>
<br>
<br>
<div class="container">
    <table class="table table-sm table-dark table-hover">
    
        <tr>
            <td>Juego 1</td>
            <td>Partidas Ganadas</td>
            <td>Mejor Tiempo</td>
        </tr>
        <tr>
            <td>Juego 2</td>
            <td>Partidas Ganadas</td>
            <td>Mejor Tiempo</td>
        </tr>
        <tr>
            <td>Juego 3</td>
            <td>Partidas Ganadas</td>
            <td>Mejor Tiempo</td>
        </tr>
        <tr>
            <td>Juego 4</td>
            <td>Partidas Ganadas</td>
            <td>Mejor Tiempo</td>
        </tr>
        <tr>
            <td>Juego 5</td>
            <td>Partidas Ganadas</td>
            <td>Mejor Tiempo</td>
        </tr>
    
    </table>
    
</div>
