
<body style="background-color: rgb(52, 97, 182);">
    <div class="pt-5" align="center">
            <div  class="form-control h-100" style="width: 30%; max-width: 400px;min-width: 300px; background-color: rgb(224, 224, 224);">
                <h2 style="color: rgb(0, 0, 0);">Agustin Rivola 4A</h2>
                <a href="https://github.com/agustinrv">Github</a> 
                <br>
                <img src="assets/imagenes/agustinRivola.jpg" style="width: 200px;border-radius: 25px;border-color: white;" border="5">
    
                <br>
                <br>
                <p style="color: rgb(0, 0, 0); margin: 1%;">
                    Soy un Alumno de la UTN 
                    En este sitio podran encontrar distos juegos como "piedra,papel o tijera", 
                    "ta-te-ti","MemoTest" y un chat para hablar .Todo esto forma parte de un trabajo practico
                    Que te diviertas!!!
                    
    
                </p>
                <br>
            </div>        
    </div>
</body>
    
