
<div class="container-fluid" >
    <img src="../../../assets/imagenes/Paisajes/descargar (2).jpg" alt="" width="100%" height="200px">
</div>
<br>

<div class="container">
    <img src="../../../assets/imagenes/personas/descargar (2).jpg" width="120px"  class="rounded-circle mx-auto d-block" >
    <br><br>
    <div align="center">
        <label for="" >El_Fedelobo</label>
        <button class="ml-2 btn btn-primary"> Editar</button>
    </div>
</div>



<br>
<br>
<br>
<div class="container">
    <table class="table table-sm table-dark table-hover">
    
        <tr>
            <td>Juego 1</td>
            <td>Partidas Ganadas</td>
            <td>Mejor Tiempo</td>
        </tr>
        <tr>
            <td>Juego 2</td>
            <td>Partidas Ganadas</td>
            <td>Mejor Tiempo</td>
        </tr>
        <tr>
            <td>Juego 3</td>
            <td>Partidas Ganadas</td>
            <td>Mejor Tiempo</td>
        </tr>
        <tr>
            <td>Juego 4</td>
            <td>Partidas Ganadas</td>
            <td>Mejor Tiempo</td>
        </tr>
        <tr>
            <td>Juego 5</td>
            <td>Partidas Ganadas</td>
            <td>Mejor Tiempo</td>
        </tr>
    
    </table>
    
</div>
