<h1>TA-TE-TI</h1>

<p>Elije una casilla para empezar</p>

<app-chat [rutaChat]="ruta"></app-chat>

<section class="container "  >
    <table class="table bg-secondary  h-100" >
        <tr>
            <td class="text-center" style="border:solid white 5px; " ><a class="btn w-100 h-100" (click)="ElegirCasilla('0')"><img id="celdaUnoUno"  width="50px" height="50px" style="visibility: hidden;"></a></td>
            <td class="text-center" style="border:solid white 5px" ><a class="btn w-100 h-100" (click)="ElegirCasilla('1')" > <img id="celdaUnoDos"  width="50px" height="50px" style="visibility: hidden;"></a></td>
            <td class="text-center" style="border:solid white 5px" ><a class="btn w-100 h-100" (click)="ElegirCasilla('2')" > <img id="celdaUnoTres"  width="50px" height="50px" style="visibility: hidden;"></a></td>
        </tr>
        <tr>
            <td class="text-center" style="border:solid white 5px " ><a class="btn w-100 h-100" (click)="ElegirCasilla('3')" > <img id="celdaDosUno"   width="50px" height="50px" style="visibility: hidden;"></a></td>
            <td class="text-center" style="border:solid white 5px" ><a class="btn w-100 h-100" (click)="ElegirCasilla('4')" > <img id="celdaDosDos"  width="50px" height="50px" style="visibility: hidden;"></a></td>
            <td class="text-center" style="border:solid white 5px" ><a class="btn w-100 h-100" (click)="ElegirCasilla('5')" > <img id="celdaDosTres"  width="50px" height="50px"style="visibility: hidden;"></a></td>
        </tr>
        <tr>
            <td class="text-center" style="border:solid white 5px" ><a class="btn w-100 h-100" (click)="ElegirCasilla('6')" > <img id="celdaTresUno"  width="50px" height="50px" style="visibility: hidden;"></a></td>
            <td class="text-center" style="border:solid white 5px" ><a class="btn w-100 h-100" (click)="ElegirCasilla('7')" > <img id="celdaTresDos"  width="50px" height="50px" style="visibility: hidden;"></a></td>
            <td class="text-center" style="border:solid white 5px" ><a class="btn w-100 h-100" (click)="ElegirCasilla('8')" > <img id="celdaTresTres"  width="50px" height="50px" style="visibility: hidden;"></a></td>
        </tr>
    </table>

        <button class="btn btn-outline-danger btn-block" (click)="Reiniciar()">REINICIAR</button>

</section>



