<app-chat [rutaChat]="ruta"></app-chat>
<section>
    <app-score [rutaScore]='rutaScore'></app-score>
</section>

<section class="container">

    <section class="row">

        <section class="col-1">
            <p class="mt-4" style="font-size: 50px; position: relative =50;">{{jugador1.victorias}}</p>
        </section>

        <section class="col">
            <div align="center" class="mt-5">

                <section class="bg-secondary form-control h-100 w-100" id="" > <!--cabiar por un borde mas normal-->
                    <img src="../../../assets/imagenes/piedra-papel-tijera/inicial.png" id="imagenQueCambia" width="80%" height="423px"  >                
                </section>
    
                <div class="row">
                    
                    <div class="col">                    
                        <span class="btn animarImagen" style="border-radius: 50%;" (click)="Piedra()" ><img src="../../../assets/imagenes/piedra-papel-tijera/piedra.png"  width="60%" ></span>
                    </div>
    
                    <div class="col">
                        <span class="btn animarImagen" (click)="Papel()"><img src="../../../assets/imagenes/piedra-papel-tijera/papel.png" width="60%"></span>
                    </div>
    
                    <div class="col">
                        <span class="btn animarImagen"  (click)="Tijera()"><img src="../../../assets/imagenes/piedra-papel-tijera/tijera.png" width="60%"></span>
                    </div>
                    
    
                </div>
                
    
                <button class="btn btn-success btn-block mt-4" (click)="Jugar()">Jugar</button>
                <button class='btn btn-warning btn-block mt-2'  (click)='GuardarScore()'>Guardar Score</button>

            </div>
        </section>

        <section class="col-1">
            <p  class="mt-4" style="font-size: 50px;">{{jugador2.victorias}}</p>
        </section>
        

    </section>
        
    <section class="bg-secondary mt-3 form-control h-100 text-white animarResultado" id="resultado">
            
                <p>Presiona jugar para empezar</p>

    </section>

        

</section>

<section>
    <app-score [rutaScore]='rutaScore'></app-score>
</section>

 
