
  
  <header>
      <nav class="navbar navbar-expand navbar-dark bg-dark ">
        <a routerLink="home" class="navbar-brand">Sala de Juegos</a><!--evento colocar mouse encima-->>
        <div class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="registro">Registrarse</a></li>
        </div>    
      </nav>
  
      
          <router-outlet ></router-outlet>
      
  </header>

  

  
  
  
 
    
  