
  
  <header>
      <nav class="navbar navbar-expand navbar-dark bg-dark ">
        <div class="navbar-collapse">

            <button routerLink="home" class="btn btn-outline-primary">Sala de Juegos</button><!--evento colocar mouse encima-->
            
              <ul class="navbar-nav mr-auto " >
                  <li class="nav-item"><a class="nav-link">home</a> </li>
              </ul>               
                <a class="nav-item"><a class="nav-link" routerLink="login">Login</a></a>
                <a class="nav-item"><a class="nav-link" routerLink="registro">Registrarse</a></a>
        </div>
      </nav>
  
      
          <router-outlet ></router-outlet>
      
  </header>

  

  
  
  
 
    
  