
  
  <header>
      <nav class="navbar navbar-expand navbar-dark bg-dark ">
        <div class="navbar-collapse">

            <button routerLink="home/juegos" class="btn btn-outline-danger">Sala de Juegos</button><!--evento colocar mouse encima-->
            
              <ul class="navbar-nav mr-auto " >
                  <li class="nav-item"><a routerLink="quienSoy" class="text-primary ml-3">Quien soy?</a> </li>
              </ul>       

              <div *ngIf="usuarioLogin == false || usuarioLogin ==null; else salir">
                <a class="nav-item"><button class="btn btn-outline-primary" routerLink="login">Login</button></a>
                <a class="nav-item ml-3"><a class="btn btn-outline-success" routerLink="registro">Registrarse</a></a>
              </div>

              <ng-template #salir>
                  <a class="nav-item"><button class="btn btn-sm btn-outline-danger" (click)="LogOut()">Log Out</button></a>
              </ng-template>
            
        </div>
      </nav>

  </header>
      
          <router-outlet></router-outlet>




      

  

  
  
  
 
    
  