

<section class="container">

        <div align="center" class="mt-5">

            <section class="bg-secondary form-control h-100" id=""><!--cabiar por un borde mas normal-->
                <img src="../../../assets/imagenes/piedra-papel-tijera/inicial.png" id="imagenQueCambia" width="300px" >                
            </section>

            <div class="row">
                
                <div class="col">                    
                    <span class="btn" (click)="Piedra()" ><img src="../../../assets/imagenes/piedra-papel-tijera/piedra.png"  width="150px" ></span>
                </div>

                <div class="col">
                    <span class="btn" (click)="Papel()"><img src="../../../assets/imagenes/piedra-papel-tijera/papel.png" width="150px"></span>
                </div>

                <div class="col">
                    <span class="btn"  (click)="Tijera()"><img src="../../../assets/imagenes/piedra-papel-tijera/tijera.png" width="150px"></span>
                </div>
                

            </div>
            

            <button class="btn btn-success btn-block mt-4" (click)="Jugar()">Jugar</button>
        </div>


        

</section>

 
